# Pandas challenges

Read the `veahicles.csv` dataframe and store it in a variable called `cars`:

In [2]:
import pandas as pd
cars=pd.read_csv('vehicles.csv')
print(cars)

                   Make                Model  Year  Engine Displacement  \
0            AM General    DJ Po Vehicle 2WD  1984                  2.5
1            AM General     FJ8c Post Office  1984                  4.2
2            AM General  Post Office DJ5 2WD  1985                  2.5
3            AM General  Post Office DJ8 2WD  1985                  4.2
4      ASC Incorporated                  GNX  1987                  3.8
...                 ...                  ...   ...                  ...
35947             smart         fortwo coupe  2013                  1.0
35948             smart         fortwo coupe  2014                  1.0
35949             smart         fortwo coupe  2015                  1.0
35950             smart         fortwo coupe  2016                  0.9
35951             smart         fortwo coupe  2016                  0.9

       Cylinders     Transmission        Drivetrain  \
0            4.0  Automatic 3-spd     2-Wheel Drive
1            6.0  Automatic 3-spd     2-Wheel Drive
2            4.0  Automatic 3-spd  Rear-Wheel Drive
3            6.0  Automatic 3-spd  Rear-Wheel Drive
4            6.0  Automatic 4-spd  Rear-Wheel Drive
...          ...              ...               ...
35947        3.0        Auto(AM5)  Rear-Wheel Drive
35948        3.0        Auto(AM5)  Rear-Wheel Drive
35949        3.0        Auto(AM5)  Rear-Wheel Drive
35950        3.0        Auto(AM6)  Rear-Wheel Drive
35951        3.0     Manual 5-spd  Rear-Wheel Drive

                     Vehicle Class Fuel Type  Fuel Barrels/Year  City MPG  \
0      Special Purpose Vehicle 2WD   Regular          19.388824        18
1      Special Purpose Vehicle 2WD   Regular          25.354615        13
2      Special Purpose Vehicle 2WD   Regular          20.600625        16
3      Special Purpose Vehicle 2WD   Regular          25.354615        13
4                     Midsize Cars   Premium          20.600625        14
...                            ...       ...                ...       ...
35947                  Two Seaters   Premium           9.155833        34
35948                  Two Seaters   Premium           9.155833        34
35949                  Two Seaters   Premium           9.155833        34
35950                  Two Seaters   Premium           9.155833        34
35951                  Two Seaters   Premium           9.417429        32

       Highway MPG  Combined MPG  CO2 Emission Grams/Mile  Fuel Cost/Year
0               17            17               522.764706            1950
1               13            13               683.615385            2550
2               17            16               555.437500            2100
3               13            13               683.615385            2550
4               21            16               555.437500            2550
...            ...           ...                      ...             ...
35947           38            36               244.000000            1100
35948           38            36               243.000000            1100
35949           38            36               244.000000            1100
35950           39            36               246.000000            1100
35951           39            35               255.000000            1150

[35952 rows x 15 columns]

Explore the dataset:

- How many rows and columns are there?

- What are the data types of the columns?

- Are there missing values?

- What are the ranges / distributions of the numerical columns?

- What are the value counts for the categorical columns?

In [32]:
cars.info()
#15 columns & 35951 rows
#datatypes = float64(4), int64(4), object(6)
#there are missing values
cars.describe()
cars.Transmission.value_counts()
cars.Drivetrain.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

Front-Wheel Drive             13044
Rear-Wheel Drive              12726
4-Wheel or All-Wheel Drive     6503
All-Wheel Drive                2039
4-Wheel Drive                  1058
2-Wheel Drive                   423
Part-time 4-Wheel Drive         158
2-Wheel Drive, Front              1
Name: Drivetrain, dtype: int64

Drop the column "Combined MPG"

In [6]:
cars.drop(columns=['Combined MPG'])

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,decade
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,522.764706,1950,1980
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,683.615385,2550,1980
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,555.437500,2100,1980
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,683.615385,2550,1980
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,555.437500,2550,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,244.000000,1100,2010
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,243.000000,1100,2010
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,244.000000,1100,2010
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,246.000000,1100,2010
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,255.000000,1150,2010

Change column names so that there are no names with spaces or weird special characters:

In [7]:

cars.rename(columns={"Vehicle Class": "Vehicleclass", "Engine Displacement" :"Enginedisplacement", "Highway MPG" : "HighwayMPG" , "CO2 Emission Grams/Mile" : "CO2Emission"}, inplace = True)
cars

,Make,Model,Year,Enginedisplacement,Cylinders,Transmission,Drivetrain,Vehicleclass,Fuel Type,Fuel Barrels/Year,City MPG,HighwayMPG,Combined MPG,CO2Emission,Fuel Cost/Year,decade
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,1980
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,1980
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,1980
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,1980
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,2010
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100,2010
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,2010
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100,2010
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150,2010

print(cars)
What brand has the most cars?

In [15]:
cars.Make
cars.Make.value_counts()
print(cars)
#Chevrolet

                   Make                Model  Year  Enginedisplacement  \
0            AM General    DJ Po Vehicle 2WD  1984                 2.5
1            AM General     FJ8c Post Office  1984                 4.2
2            AM General  Post Office DJ5 2WD  1985                 2.5
3            AM General  Post Office DJ8 2WD  1985                 4.2
4      ASC Incorporated                  GNX  1987                 3.8
...                 ...                  ...   ...                 ...
35947             smart         fortwo coupe  2013                 1.0
35948             smart         fortwo coupe  2014                 1.0
35949             smart         fortwo coupe  2015                 1.0
35950             smart         fortwo coupe  2016                 0.9
35951             smart         fortwo coupe  2016                 0.9

       Cylinders     Transmission        Drivetrain  \
0            4.0  Automatic 3-spd     2-Wheel Drive
1            6.0  Automatic 3-spd     2-Wheel Drive
2            4.0  Automatic 3-spd  Rear-Wheel Drive
3            6.0  Automatic 3-spd  Rear-Wheel Drive
4            6.0  Automatic 4-spd  Rear-Wheel Drive
...          ...              ...               ...
35947        3.0        Auto(AM5)  Rear-Wheel Drive
35948        3.0        Auto(AM5)  Rear-Wheel Drive
35949        3.0        Auto(AM5)  Rear-Wheel Drive
35950        3.0        Auto(AM6)  Rear-Wheel Drive
35951        3.0     Manual 5-spd  Rear-Wheel Drive

                      Vehicleclass Fuel Type  Fuel Barrels/Year  City MPG  \
0      Special Purpose Vehicle 2WD   Regular          19.388824        18
1      Special Purpose Vehicle 2WD   Regular          25.354615        13
2      Special Purpose Vehicle 2WD   Regular          20.600625        16
3      Special Purpose Vehicle 2WD   Regular          25.354615        13
4                     Midsize Cars   Premium          20.600625        14
...                            ...       ...                ...       ...
35947                  Two Seaters   Premium           9.155833        34
35948                  Two Seaters   Premium           9.155833        34
35949                  Two Seaters   Premium           9.155833        34
35950                  Two Seaters   Premium           9.155833        34
35951                  Two Seaters   Premium           9.417429        32

       HighwayMPG  Combined MPG  CO2Emission  Fuel Cost/Year
0              17            17   522.764706            1950
1              13            13   683.615385            2550
2              17            16   555.437500            2100
3              13            13   683.615385            2550
4              21            16   555.437500            2550
...           ...           ...          ...             ...
35947          38            36   244.000000            1100
35948          38            36   243.000000            1100
35949          38            36   244.000000            1100
35950          39            36   246.000000            1100
35951          39            35   255.000000            1150

[35952 rows x 15 columns]

What brand has the worse CO2 Emissions on average?

In [32]:
Cars_co2=cars.groupby('Make').mean()
Cars_co2
Cars_co2.sort_values("CO2Emission", ascending=False)
#Cars_co2[["Make", "CO2Emission"]]

#Vector = 1049.159

,Year,Enginedisplacement,Cylinders,Fuel Barrels/Year,City MPG,HighwayMPG,Combined MPG,CO2Emission,Fuel Cost/Year,decade
Make,,,,,,,,,,
Vector,1994.500000,5.850000,10.000000,38.912292,7.250000,11.000000,8.500000,1049.159722,4775.000000,1990.000000
Superior Coaches Div E.p. Dutton,1984.000000,6.000000,8.000000,32.961000,10.000000,11.000000,10.000000,888.700000,3350.000000,1980.000000
S and S Coach Company E.p. Dutton,1984.000000,6.000000,8.000000,32.961000,9.000000,11.000000,10.000000,888.700000,3350.000000,1980.000000
Bugatti,2011.125000,8.000000,16.000000,32.961000,8.000000,14.625000,10.000000,873.062500,4050.000000,2007.500000
Laforza Automobile Inc,1989.500000,4.900000,8.000000,29.964545,10.000000,13.000000,11.000000,807.909091,3050.000000,1985.000000
...,...,...,...,...,...,...,...,...,...,...
MINI,2012.496875,1.631875,3.981250,11.640990,25.406250,33.315625,28.468750,313.716862,1429.531250,2008.156250
Daihatsu,1990.352941,1.264706,3.705882,11.504567,28.058824,32.470588,29.647059,310.188060,1173.529412,1987.058824
Fiat,2015.069767,1.446512,4.000000,11.383588,26.372093,33.860465,29.186047,304.666560,1386.046512,2010.000000
smart,2012.500000,0.980000,3.000000,9.208922,33.300000,39.300000,35.800000,247.030556,1110.000000,2008.000000
Fisker,2012.000000,2.000000,4.000000,6.359255,20.000000,21.000000,20.000000,169.000000,2000.000000,2010.000000

Which brands are more environment friendly?

In [38]:
Cars_co2.sort_values("CO2Emission", ascending=True)
#Fisker Co2Emission = 169.000

,Year,Enginedisplacement,Cylinders,Fuel Barrels/Year,City MPG,HighwayMPG,Combined MPG,CO2Emission,Fuel Cost/Year,decade
Make,,,,,,,,,,
Fisker,2012.000000,2.000000,4.000000,6.359255,20.000000,21.000000,20.000000,169.000000,2000.000000,2010.000000
smart,2012.500000,0.980000,3.000000,9.208922,33.300000,39.300000,35.800000,247.030556,1110.000000,2008.000000
Fiat,2015.069767,1.446512,4.000000,11.383588,26.372093,33.860465,29.186047,304.666560,1386.046512,2010.000000
Daihatsu,1990.352941,1.264706,3.705882,11.504567,28.058824,32.470588,29.647059,310.188060,1173.529412,1987.058824
MINI,2012.496875,1.631875,3.981250,11.640990,25.406250,33.315625,28.468750,313.716862,1429.531250,2008.156250
...,...,...,...,...,...,...,...,...,...,...
Laforza Automobile Inc,1989.500000,4.900000,8.000000,29.964545,10.000000,13.000000,11.000000,807.909091,3050.000000,1985.000000
Bugatti,2011.125000,8.000000,16.000000,32.961000,8.000000,14.625000,10.000000,873.062500,4050.000000,2007.500000
Superior Coaches Div E.p. Dutton,1984.000000,6.000000,8.000000,32.961000,10.000000,11.000000,10.000000,888.700000,3350.000000,1980.000000
S and S Coach Company E.p. Dutton,1984.000000,6.000000,8.000000,32.961000,9.000000,11.000000,10.000000,888.700000,3350.000000,1980.000000
Vector,1994.500000,5.850000,10.000000,38.912292,7.250000,11.000000,8.500000,1049.159722,4775.000000,1990.000000

Create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [3]:
cars.Year.value_counts()
#car_year = cars.groupby("Year")
car_year = cars.sort_values("Year")
#print(car_year)
cars_new_index = car_year.set_index("Year")
car_eighty1 =  cars_new_index.loc[1980:1989,]
cars_eighty= car_eighty1.describe().loc["mean":"mean",]
cars_ninety1 = cars_new_index.loc[1990:1999,]
cars_ninety = cars_ninety1.describe().loc["mean":"mean",]

cars_twenty1 = cars_new_index.loc[2000:2009, ]
cars_twenty = cars_twenty1.describe().loc["mean":"mean",]
cars_twenty_ten1 = cars_new_index.loc[2010:2020, ]
cars_twenty_ten =cars_twenty_ten1.describe().loc["mean":"mean",]


cars_1 = pd.concat([cars_eighty,cars_ninety])
cars_2 = pd.concat([cars_1, cars_twenty])
cars_decade1 = pd.concat([cars_2,cars_twenty_ten])
Decade = ["1980", "1990", "2000", "2010"]
cars_decade1["Decade"] = Decade
cars_decade = cars_decade1.set_index("Decade")

cars_decade)

        Engine Displacement  Cylinders  Fuel Barrels/Year   City MPG  \
Decade
1980               3.248702   5.489939          18.552822  17.327209
1990               3.275197   5.653241          18.293291  16.954091
2000               3.447019   5.993954          17.962477  16.834199
2010               3.345379   5.821849          15.778968  19.546763

        Highway MPG  Combined MPG  CO2 Emission Grams/Mile  Fuel Cost/Year
Decade
1980      22.389472     19.216973               499.853860     1898.067950
1990      22.839639     19.111583               493.678690     1929.633369
2000      23.205574     19.163722               486.007524     1972.489372
2010      26.866469     22.202550               425.395003     1757.237059

In [4]:
cars = cars.assign(decade=lambda x: cars.Year // 10 * 10)
cars.groupby('decade').mean()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
decade,,,,,,,,,
1980,1986.575386,3.248702,5.489939,18.552822,17.327209,22.389472,19.216973,499.853860,1898.067950
1990,1994.117109,3.275197,5.653241,18.293291,16.954091,22.839639,19.111583,493.678690,1929.633369
2000,2004.794804,3.447019,5.993954,17.962477,16.834199,23.205574,19.163722,486.007524,1972.489372
2010,2013.454995,3.345379,5.821849,15.778968,19.546763,26.866469,22.202550,425.395003,1757.237059

Did cars consume more gas in the eighties?

In [6]:
Yes

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [218]:
cars.sort_values("Fuel Barrels/Year", ascending=False)

#Nope

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
20898,Lamborghini,Countach,1990,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
20896,Lamborghini,Countach,1988,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
20895,Lamborghini,Countach,1987,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
20894,Lamborghini,Countach,1986,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
20897,Lamborghini,Countach,1989,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17296,Honda,Civic CNG,2009,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Subcompact Cars,CNG,0.066429,24,36,28,253.197321,1100
17396,Honda,Civic Natural Gas,2013,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.060000,27,38,31,218.000000,1000
17398,Honda,Civic Natural Gas,2015,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.060000,27,38,31,218.000000,1000
17397,Honda,Civic Natural Gas,2014,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.060000,27,38,31,218.000000,1000
17395,Honda,Civic Natural Gas,2012,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.060000,27,38,31,228.694355,1000

Group cars by fuel type and aggregate them by the following criteria: 

- The maximum number cylinders
- The oldest year
- The average Miles Per Gallon in the city

In [46]:
cars.groupby(cars["Fuel Type"])["Cylinders"].max()

Fuel Type
CNG                             8.0
Diesel                         10.0
Gasoline or E85                 8.0
Gasoline or natural gas         8.0
Gasoline or propane             8.0
Midgrade                        8.0
Premium                        16.0
Premium Gas or Electricity      8.0
Premium and Electricity         8.0
Premium or E85                 12.0
Regular                        12.0
Regular Gas and Electricity     4.0
Regular Gas or Electricity      4.0
Name: Cylinders, dtype: float64

In [48]:
cars.groupby(cars["Fuel Type"])["Year"].min()
#earliest year for each category of fuel type

Fuel Type
CNG                            1993
Diesel                         1984
Gasoline or E85                2000
Gasoline or natural gas        2000
Gasoline or propane            2001
Midgrade                       2011
Premium                        1985
Premium Gas or Electricity     2011
Premium and Electricity        2014
Premium or E85                 2004
Regular                        1984
Regular Gas and Electricity    2012
Regular Gas or Electricity     2016
Name: Year, dtype: int64

In [49]:
cars.groupby(cars["Fuel Type"])["City MPG"].mean()

Fuel Type
CNG                            15.966667
Diesel                         21.173436
Gasoline or E85                15.347280
Gasoline or natural gas        13.700000
Gasoline or propane            12.000000
Midgrade                       14.851351
Premium                        16.793166
Premium Gas or Electricity     30.705882
Premium and Electricity        24.900000
Premium or E85                 17.305785
Regular                        17.970195
Regular Gas and Electricity    43.125000
Regular Gas or Electricity     43.000000
Name: City MPG, dtype: float64

In [18]:
cars.Drivetrain.value_counts()

Front-Wheel Drive             13044
Rear-Wheel Drive              12726
4-Wheel or All-Wheel Drive     6503
All-Wheel Drive                2039
4-Wheel Drive                  1058
2-Wheel Drive                   423
Part-time 4-Wheel Drive         158
2-Wheel Drive, Front              1
Name: Drivetrain, dtype: int64

We want to use "Drivetrain" in a statistical model. Convert the column to numeric.

Read the `car_brands.csv` data:

In [55]:
# code here
brands = pd.read_csv('car_brands.csv')

Join the cars dataframe with the car brands dataframe.

In [ ]:
# code here

Which brands have the most revenue?

In [44]:
# code here