In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [6]:
pd.options.display.float_format = '{:.2f}'.format

In [25]:

orderlines = pd.read_csv('orderlines.csv')
orders = pd.read_csv('orders.csv')
products_cl = pd.read_csv('products_cl.csv')
brands = pd.read_csv('brands.csv')

In [30]:
orders
#orderlines

        order_id        created_date  total_paid            state
0         241319 2017-01-02 13:35:40       44.99        Cancelled
1         241423 2017-11-06 13:10:02      136.15        Completed
2         242832 2017-12-31 17:40:03       15.76        Completed
3         243330 2017-02-16 10:59:38       84.98        Completed
4         243784 2017-11-24 13:35:19      157.86        Cancelled
...          ...                 ...         ...              ...
226904    527397 2018-03-14 13:56:38       42.99      Place Order
226905    527398 2018-03-14 13:57:25       42.99  Shopping Basket
226906    527399 2018-03-14 13:57:34      141.58  Shopping Basket
226907    527400 2018-03-14 13:57:41       19.98  Shopping Basket
226908    527401 2018-03-14 13:58:36       18.98      Place Order

[226909 rows x 4 columns]

In [26]:
orders['created_date'] = pd.to_datetime(orders['created_date'])
orderlines['date'] = pd.to_datetime(orderlines['date'])

In [ ]:
p_df = (
orders_compl
    .assgn(year =orders ['created_date']

In [31]:
orders_compl = orders.query('state =="completed"')
orders_compl

Empty DataFrame
Columns: [order_id, created_date, total_paid, state]
Index: []

In [35]:
p_sku_jan =
(
orderlines
    .loc[orderlines['id_order']isin(p_df_jan['order_id'])]
    .assign(year=orderlines['date'].dt.strftime('%Y'))
    .groupby(['year','sku'])
    .agg(['unit_price': 'sum'])
    .reset_index()
    .sort_values('unit_price', ascending = False)
    .groupby('year')
    .head(10)
)  
p_sku_jan

SyntaxError: invalid syntax (Temp/ipykernel_14120/2599684775.py, line 1)